/******************************
 *  DASHBOARD THEME  *
 ******************************/
/**********************
 * SETTINGS OVERRIDES *
 **********************/
@media (max-width: 1023.98px) {
  body.has-overlay {
    position: relative;
    overflow-y: hidden;
  }
  body.has-overlay .overlay {
    position: absolute;
    content: " ";
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(1, 1, 1, 0.1);
    z-index: 1;
  }
}

.dashboard-nav-tabs {
  border: none;
  margin: 20px 0px;
}

.dashboard-nav-tabs.bottom-positioned {
  position: absolute;
  bottom: 0;
}

.dashboard-nav-tabs .nav-item .nav-link {
  position: relative;
  color: #667685;
  font-weight: 500;
  font-size: 16px;
  border: none;
  padding: 16px 24px 16px 20px;
  margin: 10px 22px;
}

.dashboard-nav-tabs .nav-item .nav-link.active {
  background-image: url("/public/images/icon-active-nav-link-bg.svg");
  background-repeat: no-repeat;
  background-size: 110%;
  border-radius: 10px;
  color: #fff;
}

.dashboard-nav-tabs .nav-item .nav-link.active:after {
  display: block;
}

.dashboard-table-container {
  padding: 24px 16px;
  width: 100%;
  min-height: 600px;
}

.dashboard-table-container table.dashboard-table {
  width: 100%;
  border-collapse: inherit;
  border-spacing: 0px 22px;
  overflow: auto;
}

.dashboard-table-container table.dashboard-table thead,
.dashboard-table-container table.dashboard-table tfoot {
  background-color: none;
  color: #fff;
}

.dashboard-table-container table.dashboard-table thead th,
.dashboard-table-container table.dashboard-table tfoot th {
  padding: 16px;
  text-align: center;
  font-weight: 500;
}

.dashboard-table-container table.dashboard-table thead th:first-child,
.dashboard-table-container table.dashboard-table tfoot th:first-child {
  overflow: hidden;
}

.dashboard-table-container table.dashboard-table thead th:last-child,
.dashboard-table-container table.dashboard-table tfoot th:last-child {
  overflow: hidden;
}

@media (min-width: 1024px) {
  .dashboard-table-container table.dashboard-table thead th,
  .dashboard-table-container table.dashboard-table tfoot th {
    padding: 24px;
    padding-bottom: 10px;
  }
}

.dashboard-table-container table.dashboard-table tbody tr {
  background-color: #fff;
  border-radius: 10px;
  margin-top: 8px;
  -webkit-box-shadow: -1px 1.7px 4.25px rgba(0, 0, 0, 0.15);
          box-shadow: -1px 1.7px 4.25px rgba(0, 0, 0, 0.15);
}

.dashboard-table-container table.dashboard-table tbody td {
  padding: 14px;
  text-align: center;
  font-weight: 500;
}

.dashboard-table-container table.dashboard-table tbody td[aria-expanded=true] .fa-chevron-down {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.dashboard-table-container table.dashboard-table tbody td:first-child {
  overflow: hidden;
}

.dashboard-table-container table.dashboard-table tbody td:last-child {
  overflow: hidden;
}

.dashboard-table-container .table-collapsed-content {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  background-color: unset !important;
  text-align: left;
  margin: 30px 0px !important;
}

.dashboard-table-container .table-collapsed-content > * {
  border-radius: 0 !important;
}

.dashboard-table-container .table-collapsed-content .collapsed-content-wrapper {
  padding: 0 !important;
  vertical-align: top !important;
}

.dashboard-table-container .table-collapsed-content table {
  margin: 1.5rem 0 !important;
}

.dashboard-table-container .table-collapsed-content table tr {
  background-color: unset !important;
  border-radius: 0 !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.dashboard-table-container .table-collapsed-content table tr:nth-child(odd) {
  background-color: rgba(30, 40, 47, 0.034) !important;
}

.dashboard-table-container .table-collapsed-content table tr td {
  border-radius: 0 !important;
  text-align: left !important;
}

.dashboard-table-container .table-collapsed-content table th {
  border-radius: 0 !important;
  padding: 14px !important;
}

.dashboard-table-pagination {
  display: inline-block;
}

.edit-button {
  cursor: pointer;
}

.edit-button span {
  vertical-align: middle;
  margin: 0px 5px;
}

.edit-button img {
  max-width: 22px;
}

.my-profile-view input, .my-profile-view select {
  pointer-events: none;
  background: none !important;
  border-bottom: 0.02rem solid #374047 !important;
  border-radius: 0;
  padding: 0 !important;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  z-index: 1;
}

@media (max-width: 1023.98px) {
  .wrapper {
    padding-left: 0px;
  }
}

.wrapper #sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 280px;
  max-width: 280px;
  max-height: 100%;
  min-height: 90vh;
  -webkit-transition: 0.3s -webkit-transform;
  transition: 0.3s -webkit-transform;
  transition: 0.3s transform;
  transition: 0.3s transform, 0.3s -webkit-transform;
  background-color: #fff;
  position: relative;
  z-index: 3;
  margin: 40px 0px;
  -webkit-box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.15);
          box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.15);
}

@media (max-width: 1023.98px) {
  .wrapper #sidebar {
    margin-top: -220px;
    margin-bottom: 0;
    -webkit-transform: translateX(-320px);
            transform: translateX(-320px);
    -webkit-box-shadow: none;
            box-shadow: none;
    min-height: calc(100vh + 220px);
  }
  .wrapper #sidebar.active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    background-color: #fff;
    -webkit-box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.15);
            box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.15);
  }
}

.wrapper #sidebar .sidebar-top:after {
  position: absolute;
  content: " ";
  background-image: -webkit-gradient(linear, left top, right top, from(#FBB040), to(#FFDE17));
  background-image: linear-gradient(to right, #FBB040 0%, #FFDE17 100%);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  top: 0;
  z-index: 3;
  left: 0;
  height: 10px;
  width: 100%;
}

.wrapper #sidebar .sidebar-top .user-details-card {
  background-color: #FAFAFA;
  -webkit-box-shadow: 1.3px 1.3px 7.34px rgba(0, 0, 0, 0.158);
          box-shadow: 1.3px 1.3px 7.34px rgba(0, 0, 0, 0.158);
}

.wrapper #sidebar .sidebar-top .user-details-card .user-profile-pic-section img.user-profile-pic {
  position: relative;
  border-radius: 50px;
  max-width: 80px;
  margin-top: -60px;
  z-index: 6;
}

@media (max-width: 1023.98px) {
  .wrapper #sidebar .sidebar-top .user-details-card .user-profile-pic-section img.user-profile-pic {
    margin-top: 0px;
  }
}

.wrapper #sidebar .sidebar-top .user-details-card .user-profile-pic-section img.edit-profile-pic {
  position: absolute;
  max-width: 35px;
  margin-left: -20px;
  top: 15px;
  z-index: 8;
}

@media (max-width: 1023.98px) {
  .wrapper #content {
    width: 100%;
    position: absolute;
  }
}

.wrapper #content .navbar {
  height: 190px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dark-search-bar-group {
  background-color: #1E282E;
  padding-left: 68px;
  background-image: url(/public/images/icon-search.svg);
  background-position: center left 16px;
  background-repeat: no-repeat;
  background-size: 28px;
}

.dropdown-toggle.language {
  font-size: 25px;
  color: #000;
}

.grey-header {
  background-color: rgba(30, 40, 46, 0.404);
  color: white;
}

ul.list-group.transactions .list-group-item {
  border: none;
  padding: 10px 25px;
}

ul.list-group.transactions .list-group-item:first-of-type {
  border-right: 1px solid #374047;
}

ul.list-group.transactions .list-group-item img {
  height: 60px;
  max-width: 60px;
}

.tokenization-modal .modal-content {
  border-radius: 20px;
}

.tokenization-modal .modal-footer {
  border-top: none;
}

.tokenization-modal .modal-body img {
  max-width: 120px;
  margin: 20px 0px;
}

.custom-modal {
  top: 30%;
  left: 20%;
}

.custom-modal .modal-content {
  border-radius: 20px;
  width: 60% !important;
}

.custom-modal .modal-content .model-heading {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.custom-modal .modal-footer {
  border-top: none;
}

.custom-modal .modal-body p {
  font-size: 18px;
}

.custom-modal .modal-body .popup-Metamask_img {
  height: 20px;
  margin-left: 50px;
  margin-right: 10px;
}

.custom-modal .modal-body .popup-Binance_img {
  height: 20px;
  margin-left: 40px;
  margin-right: 10px;
}

.custom-modal .modal-body .popup-TrustWallet_img {
  height: 20px;
  margin-left: 40px;
  margin-right: 10px;
}

.custom-modal .modal-body .popup-TempleWallet_img {
  height: 20px;
  margin-left: 48px;
  margin-right: 10px;
}

.modal-close-btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 32px;
  background: none;
  margin: 0px 15px;
  outline: none;
  border: none;
  margin-left: auto;
  padding: 0;
}

.modal-close-btn:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.kyc-status-confirmed {
  background: url("/public/images/kyc-status-confirmed-bg.svg") no-repeat right -80px center;
}

.kyc-status-pending {
  background: url("/public/images/kyc-status-pending-bg.svg") no-repeat right -80px center;
}

.kyc-status-rejected {
  background: url("/public/images/kyc-status-rejected-bg.svg") no-repeat right -80px center;
}

.avatar-image {
  border-radius: 50%;
  max-width: 65px;
}

.transaction-history-tabs.nav-tabs {
  border-bottom: none;
  background: #EFEFEF;
  padding: 10px;
  border-radius: 11px;
  color: #1E1E1E;
  width: 40%;
}

@media (max-width: 1023.98px) {
  .transaction-history-tabs.nav-tabs {
    width: 100%;
  }
}

.transaction-history-tabs.nav-tabs .nav-item a {
  color: #1E1E1E;
  font-weight: 500;
  padding: 12px 15px;
  border-radius: 11px;
}

.transaction-history-tabs.nav-tabs .nav-item a.active, .transaction-history-tabs.nav-tabs .nav-item a:hover {
  background-color: #1E1E1E;
  color: white;
  border-color: transparent;
}

table.token-balance {
  padding: 0;
  border: none !important;
}

table.token-balance tr td {
  padding: 0.75rem 1.3rem;
  vertical-align: middle;
  border: none;
  border-bottom: 1px solid #E8E8E8;
}

table.token-balance tr td:first-of-type {
  border-right: 1px solid #E8E8E8;
}

table.token-balance tr:last-of-type td {
  border-bottom: none;
}

#login-section {
  background: url("/public/images/signup-login-screen-bg.png");
  background-repeat: no-repeat;
  background-position: bottom 50px left -25px;
}

#login-section #login-section_container {
  padding: 60px 0;
}

@media (min-width: 1024px) {
  #login-section #login-section_container {
    padding: 60px 0 90px;
  }
}

#login-section #login-section_container .login-artwork {
  width: 80%;
  height: auto;
}

#signup-section_1, #signup-section_2, #signup-section_3, #signup-section_4, #signup-section_5, #signup-section_6 {
  background: url("/public/images/signup-login-screen-bg.png");
  background-repeat: no-repeat;
  background-position: bottom 50px left -25px;
}

#signup-section_1 #signup-section_1_container, #signup-section_1 #signup-section_2_container, #signup-section_1 #signup-section_3_container, #signup-section_1 #signup-section_4_container, #signup-section_1 #signup-section_5_container, #signup-section_1 #signup-section_6_container, #signup-section_2 #signup-section_1_container, #signup-section_2 #signup-section_2_container, #signup-section_2 #signup-section_3_container, #signup-section_2 #signup-section_4_container, #signup-section_2 #signup-section_5_container, #signup-section_2 #signup-section_6_container, #signup-section_3 #signup-section_1_container, #signup-section_3 #signup-section_2_container, #signup-section_3 #signup-section_3_container, #signup-section_3 #signup-section_4_container, #signup-section_3 #signup-section_5_container, #signup-section_3 #signup-section_6_container, #signup-section_4 #signup-section_1_container, #signup-section_4 #signup-section_2_container, #signup-section_4 #signup-section_3_container, #signup-section_4 #signup-section_4_container, #signup-section_4 #signup-section_5_container, #signup-section_4 #signup-section_6_container, #signup-section_5 #signup-section_1_container, #signup-section_5 #signup-section_2_container, #signup-section_5 #signup-section_3_container, #signup-section_5 #signup-section_4_container, #signup-section_5 #signup-section_5_container, #signup-section_5 #signup-section_6_container, #signup-section_6 #signup-section_1_container, #signup-section_6 #signup-section_2_container, #signup-section_6 #signup-section_3_container, #signup-section_6 #signup-section_4_container, #signup-section_6 #signup-section_5_container, #signup-section_6 #signup-section_6_container {
  padding: 60px 0;
}

@media (min-width: 1024px) {
  #signup-section_1 #signup-section_1_container, #signup-section_1 #signup-section_2_container, #signup-section_1 #signup-section_3_container, #signup-section_1 #signup-section_4_container, #signup-section_1 #signup-section_5_container, #signup-section_1 #signup-section_6_container, #signup-section_2 #signup-section_1_container, #signup-section_2 #signup-section_2_container, #signup-section_2 #signup-section_3_container, #signup-section_2 #signup-section_4_container, #signup-section_2 #signup-section_5_container, #signup-section_2 #signup-section_6_container, #signup-section_3 #signup-section_1_container, #signup-section_3 #signup-section_2_container, #signup-section_3 #signup-section_3_container, #signup-section_3 #signup-section_4_container, #signup-section_3 #signup-section_5_container, #signup-section_3 #signup-section_6_container, #signup-section_4 #signup-section_1_container, #signup-section_4 #signup-section_2_container, #signup-section_4 #signup-section_3_container, #signup-section_4 #signup-section_4_container, #signup-section_4 #signup-section_5_container, #signup-section_4 #signup-section_6_container, #signup-section_5 #signup-section_1_container, #signup-section_5 #signup-section_2_container, #signup-section_5 #signup-section_3_container, #signup-section_5 #signup-section_4_container, #signup-section_5 #signup-section_5_container, #signup-section_5 #signup-section_6_container, #signup-section_6 #signup-section_1_container, #signup-section_6 #signup-section_2_container, #signup-section_6 #signup-section_3_container, #signup-section_6 #signup-section_4_container, #signup-section_6 #signup-section_5_container, #signup-section_6 #signup-section_6_container {
    padding: 60px 0 90px;
  }
}

#signup-section_1 #signup-section_1_container .signup-artwork, #signup-section_1 #signup-section_2_container .signup-artwork, #signup-section_1 #signup-section_3_container .signup-artwork, #signup-section_1 #signup-section_4_container .signup-artwork, #signup-section_1 #signup-section_5_container .signup-artwork, #signup-section_1 #signup-section_6_container .signup-artwork, #signup-section_2 #signup-section_1_container .signup-artwork, #signup-section_2 #signup-section_2_container .signup-artwork, #signup-section_2 #signup-section_3_container .signup-artwork, #signup-section_2 #signup-section_4_container .signup-artwork, #signup-section_2 #signup-section_5_container .signup-artwork, #signup-section_2 #signup-section_6_container .signup-artwork, #signup-section_3 #signup-section_1_container .signup-artwork, #signup-section_3 #signup-section_2_container .signup-artwork, #signup-section_3 #signup-section_3_container .signup-artwork, #signup-section_3 #signup-section_4_container .signup-artwork, #signup-section_3 #signup-section_5_container .signup-artwork, #signup-section_3 #signup-section_6_container .signup-artwork, #signup-section_4 #signup-section_1_container .signup-artwork, #signup-section_4 #signup-section_2_container .signup-artwork, #signup-section_4 #signup-section_3_container .signup-artwork, #signup-section_4 #signup-section_4_container .signup-artwork, #signup-section_4 #signup-section_5_container .signup-artwork, #signup-section_4 #signup-section_6_container .signup-artwork, #signup-section_5 #signup-section_1_container .signup-artwork, #signup-section_5 #signup-section_2_container .signup-artwork, #signup-section_5 #signup-section_3_container .signup-artwork, #signup-section_5 #signup-section_4_container .signup-artwork, #signup-section_5 #signup-section_5_container .signup-artwork, #signup-section_5 #signup-section_6_container .signup-artwork, #signup-section_6 #signup-section_1_container .signup-artwork, #signup-section_6 #signup-section_2_container .signup-artwork, #signup-section_6 #signup-section_3_container .signup-artwork, #signup-section_6 #signup-section_4_container .signup-artwork, #signup-section_6 #signup-section_5_container .signup-artwork, #signup-section_6 #signup-section_6_container .signup-artwork {
  width: 80%;
  height: auto;
}

.dashboard-bg {
  background-image: url("/public/images/dashboard-bg.png");
  background-position: bottom !important;
  background-repeat: no-repeat !important;
  background-size: 100% 70vh !important;
}

.dashboard-dark-bg {
  background-image: url("/public/images/dashboard-table-dark-bg.svg");
  background-position: top !important;
  background-repeat: no-repeat !important;
  background-size: 100% !important;
}

@media (max-width: 1439.98px) {
  .dashboard-dark-bg {
    background-size: auto 165px !important;
  }
}

.admin-dashboard-bg {
  background-image: url("/public/images/Mask Group 25.png");
  background-position: bottom left !important;
  background-repeat: no-repeat !important;
  background-size: 50% 10vh  !important;
}

.dashboard-referral-artwork {
  margin-top: -17px;
}

.transaction-charge-list .list-group .list-group-item {
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.288);
}

.transaction-charge-list .list-group .list-group-item:last-of-type {
  border-bottom: none;
}

.dashboard-settings-card {
  border: 1px solid #DFE1E4;
  background-color: #fff;
  margin: 30px 0px;
}

.dashboard-settings-nav-tabs-wrapper {
  border-right: 1px solid #DFE1E4;
}

.dashboard-settings-nav-tabs-wrapper .dashboard-settings-nav-tabs {
  border: none;
  margin: 20px 0px;
}

.dashboard-settings-nav-tabs-wrapper .dashboard-settings-nav-tabs .nav-item .nav-link {
  position: relative;
  color: #051225;
  font-weight: 500;
  font-size: 16px;
  border: none;
  padding: 11px 24px 11px 20px;
  margin: 15px 22px;
  margin-right: 0;
}

.dashboard-settings-nav-tabs-wrapper .dashboard-settings-nav-tabs .nav-item .nav-link:after {
  position: absolute;
  display: none;
  content: " ";
  background: transparent -webkit-gradient(linear, left top, left bottom, from(#FBB042), color-stop(4%, #FBB042), color-stop(39%, #FDC010), to(#FFDE11)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(180deg, #FBB042 0%, #FBB042 4%, #FDC010 39%, #FFDE11 100%) 0% 0% no-repeat padding-box;
  border-radius: 14px;
  width: 5px;
  top: 4px;
  right: -1px;
  bottom: 4px;
}

.dashboard-settings-nav-tabs-wrapper .dashboard-settings-nav-tabs .nav-item .nav-link.active {
  background-color: transparent;
}

.dashboard-settings-nav-tabs-wrapper .dashboard-settings-nav-tabs .nav-item .nav-link.active:after {
  display: block;
}

.dashboard-settings-header {
  border-bottom: 1px solid #DFE1E4;
  padding: 42px;
}

.dashboard-buynowbtn-nav-tabs-wrapper .dashboard-buynowbtn-nav-tabs {
  border: none;
  margin: 20px 0px;
}

.dashboard-buynowbtn-nav-tabs-wrapper .dashboard-buynowbtn-nav-tabs .nav-item {
  border-radius: 5px;
}

.dashboard-buynowbtn-nav-tabs-wrapper .dashboard-buynowbtn-nav-tabs .nav-item .nav-link {
  position: relative;
  color: #051225;
  font-weight: 500;
  font-size: 16px;
  border: 1px solid #DDDCDB;
  border-radius: 5px;
  padding: 11px 24px 11px 20px;
  margin: 5px 10px;
  margin-right: 0;
  text-align: center;
}

.dashboard-buynowbtn-nav-tabs-wrapper .dashboard-buynowbtn-nav-tabs .nav-item .nav-link:after {
  position: absolute;
  display: none;
  content: " ";
  background: transparent;
  border-radius: 14px;
  width: 5px;
  top: 4px;
  right: -1px;
  bottom: 4px;
}

.dashboard-buynowbtn-nav-tabs-wrapper .dashboard-buynowbtn-nav-tabs .nav-item .nav-link.active {
  background-color: #1E282F;
  color: white;
  -webkit-box-shadow: 10px 10px 20px #00000040;
          box-shadow: 10px 10px 20px #00000040;
}

.dashboard-buynowbtn-nav-tabs-wrapper .dashboard-buynowbtn-nav-tabs .nav-item .nav-link.active:after {
  display: block;
}

.dashboard-buynowbtn-nav-tabs-content {
  border: 1px solid #A0ABB2;
  border-radius: 10px;
}

.amount-details {
  border: 1px solid #A0ABB2;
  border-radius: 5px;
  background-color: #F6F6F5;
}

.profile-pic {
  border-radius: 50% !important;
}

.amount-details-right {
  border: 1px solid #A0ABB2;
  border-radius: 5px;
}

.amount-Transaction-details {
  border-radius: 5px;
  border: 1px solid #A0ABB2;
  background-color: #F0F3F5;
}

.share-text-box {
  display: inline-block;
  background-color: #F0F3F5;
  border-radius: 14px;
  color: #212B36;
}

.qr-code-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 10px 0px 20px #00000029;
          box-shadow: 10px 0px 20px #00000029;
}

.Wallet .wallet-img {
  visibility: hidden;
}

.Wallet:hover .wallet-img {
  visibility: visible !important;
}

:root {
  --borderWidth: 7px;
  --height: 24px;
  --width: 12px;
  --borderColor: #78b13f;
}

.check {
  display: inline-block;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  height: var(--height);
  width: var(--width);
  border-bottom: var(--borderWidth) solid var(--borderColor);
  border-right: var(--borderWidth) solid var(--borderColor);
  margin: 10px 10px 10px 20px;
}

.Admin-dashboard-table-container {
  padding: 10px 8px;
  width: 100%;
  min-height: 600px;
}

.Admin-dashboard-table-container table.dashboard-table {
  width: 100%;
  border-collapse: inherit;
  border-spacing: 0px 22px;
  overflow: auto;
}

.Admin-dashboard-table-container table.dashboard-table thead,
.Admin-dashboard-table-container table.dashboard-table tfoot {
  background-color: none;
  color: #fff;
}

.Admin-dashboard-table-container table.dashboard-table thead th,
.Admin-dashboard-table-container table.dashboard-table tfoot th {
  padding: 16px;
  text-align: center;
  font-weight: 500;
  color: #1E282F;
}

.Admin-dashboard-table-container table.dashboard-table thead th:first-child,
.Admin-dashboard-table-container table.dashboard-table tfoot th:first-child {
  overflow: hidden;
}

.Admin-dashboard-table-container table.dashboard-table thead th:last-child,
.Admin-dashboard-table-container table.dashboard-table tfoot th:last-child {
  overflow: hidden;
}

@media (min-width: 1024px) {
  .Admin-dashboard-table-container table.dashboard-table thead th,
  .Admin-dashboard-table-container table.dashboard-table tfoot th {
    padding: 24px;
    padding-bottom: 10px;
  }
}

.Admin-dashboard-table-container table.dashboard-table tbody tr {
  background-color: #fff;
  border-radius: 10px;
  margin-top: 8px;
  -webkit-box-shadow: -1px 1.7px 4.25px rgba(0, 0, 0, 0.15);
          box-shadow: -1px 1.7px 4.25px rgba(0, 0, 0, 0.15);
}

.Admin-dashboard-table-container table.dashboard-table tbody tr td:first-of-type {
  border-left: 4px solid transparent;
}

.Admin-dashboard-table-container table.dashboard-table tbody tr.active, .Admin-dashboard-table-container table.dashboard-table tbody tr:hover {
  background-color: #F0F3F5;
}

.Admin-dashboard-table-container table.dashboard-table tbody tr.active td:first-of-type, .Admin-dashboard-table-container table.dashboard-table tbody tr:hover td:first-of-type {
  border-left: 4px solid #fae439;
}

.Admin-dashboard-table-container table.dashboard-table tbody td {
  padding: 14px;
  text-align: center;
  font-weight: 500;
}

.Admin-dashboard-table-container table.dashboard-table tbody td[aria-expanded=true] .fa-chevron-down {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.Admin-dashboard-table-container table.dashboard-table tbody td:first-child {
  overflow: hidden;
}

.Admin-dashboard-table-container table.dashboard-table tbody td:last-child {
  overflow: hidden;
}

.Admin-dashboard-table-container .table-collapsed-content {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  background-color: unset !important;
  text-align: left;
  margin: 30px 0px !important;
}

.Admin-dashboard-table-container .table-collapsed-content > * {
  border-radius: 0 !important;
}

.Admin-dashboard-table-container .table-collapsed-content .collapsed-content-wrapper {
  padding: 0 !important;
  vertical-align: top !important;
}

.Admin-dashboard-table-container .table-collapsed-content table {
  margin: 1.5rem 0 !important;
}

.Admin-dashboard-table-container .table-collapsed-content table tr {
  background-color: unset !important;
  border-radius: 0 !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.Admin-dashboard-table-container .table-collapsed-content table tr:nth-child(odd) {
  background-color: rgba(30, 40, 47, 0.034) !important;
}

.Admin-dashboard-table-container .table-collapsed-content table tr td {
  border-radius: 0 !important;
  text-align: left !important;
}

.Admin-dashboard-table-container .table-collapsed-content table th {
  border-radius: 0 !important;
  padding: 14px !important;
}

.admin-dashboard-token-table-container {
  padding: 5px 4px;
  width: 100%;
  min-height: 600px;
}

.admin-dashboard-token-table-container table.dashboard-table {
  width: 100%;
  border-collapse: inherit;
  border-spacing: 0px 22px;
  overflow: auto;
}

.admin-dashboard-token-table-container table.dashboard-table thead,
.admin-dashboard-token-table-container table.dashboard-table tfoot {
  background-color: none;
  color: #fff;
}

.admin-dashboard-token-table-container table.dashboard-table thead th,
.admin-dashboard-token-table-container table.dashboard-table tfoot th {
  padding: 16px;
  text-align: center;
  font-weight: 500;
  color: #1E282F;
  font-size: 13px !important;
}

.admin-dashboard-token-table-container table.dashboard-table thead th:first-child,
.admin-dashboard-token-table-container table.dashboard-table tfoot th:first-child {
  overflow: hidden;
}

.admin-dashboard-token-table-container table.dashboard-table thead th:last-child,
.admin-dashboard-token-table-container table.dashboard-table tfoot th:last-child {
  overflow: hidden;
}

.admin-dashboard-token-table-container table.dashboard-table tbody tr {
  background-color: #fff;
  border-radius: 10px;
  margin-top: 8px;
  -webkit-box-shadow: -1px 1.7px 4.25px rgba(0, 0, 0, 0.15);
          box-shadow: -1px 1.7px 4.25px rgba(0, 0, 0, 0.15);
  font-size: 13px !important;
}

.admin-dashboard-token-table-container table.dashboard-table tbody tr td:first-of-type {
  border-left: 4px solid transparent;
}

.admin-dashboard-token-table-container table.dashboard-table tbody tr.active, .admin-dashboard-token-table-container table.dashboard-table tbody tr:hover {
  background-color: #F0F3F5;
}

.admin-dashboard-token-table-container table.dashboard-table tbody tr.active td:first-of-type, .admin-dashboard-token-table-container table.dashboard-table tbody tr:hover td:first-of-type {
  border-left: 4px solid #fae439;
}

.admin-dashboard-token-table-container table.dashboard-table tbody td {
  padding: 10px;
  text-align: center;
  font-weight: 500;
}

.admin-dashboard-token-table-container table.dashboard-table tbody td[aria-expanded=true] .fa-chevron-down {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.admin-dashboard-token-table-container table.dashboard-table tbody td:first-child {
  overflow: hidden;
}

.admin-dashboard-token-table-container table.dashboard-table tbody td:last-child {
  overflow: hidden;
}

.admin-dashboard-token-table-container .table-collapsed-content {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  background-color: unset !important;
  text-align: left;
  margin: 30px 0px !important;
}

.admin-dashboard-token-table-container .table-collapsed-content > * {
  border-radius: 0 !important;
}

.admin-dashboard-token-table-container .table-collapsed-content .collapsed-content-wrapper {
  padding: 0 !important;
  vertical-align: top !important;
}

.admin-dashboard-token-table-container .table-collapsed-content table {
  margin: 1.5rem 0 !important;
}

.admin-dashboard-token-table-container .table-collapsed-content table tr {
  background-color: unset !important;
  border-radius: 0 !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.admin-dashboard-token-table-container .table-collapsed-content table tr:nth-child(odd) {
  background-color: rgba(30, 40, 47, 0.034) !important;
}

.admin-dashboard-token-table-container .table-collapsed-content table tr td {
  border-radius: 0 !important;
  text-align: left !important;
}

.admin-dashboard-token-table-container .table-collapsed-content table th {
  border-radius: 0 !important;
  padding: 14px !important;
}

.profile-pic {
  border-radius: 50% !important;
}

#admin-dashboard-token-section-container .nav-tabs {
  border-bottom: none;
  color: #1E1E1E;
  margin: auto;
}

#admin-dashboard-token-section-container .nav-tabs .nav-item a {
  color: #1E1E1E;
  font-weight: 500;
  padding: 12px 15px;
  border-radius: 11px;
  background: #EFEFEF;
}

#admin-dashboard-token-section-container .nav-tabs .nav-item a.active {
  background-color: #1E1E1E;
  color: white;
}

#admin-dashboard-token-section-container label {
  color: #333231;
  font-weight: 600;
  margin-bottom: 0;
}

#admin-dashboard-token-section-container input {
  width: 140px;
  padding: 15px !important;
  margin: 0px;
  border: none !important;
  background-color: #dceaf3 !important;
}

.aqairchain-btn {
  background-color: #dceaf3 !important;
}

.GoBack {
  margin-left: 100px !important;
}

.GoBack-allocation {
  margin-left: 60px !important;
}

.goback-btn {
  background: none;
  outline: none;
  border: none;
}

.Wallet {
  text-align: center;
  padding: 7px;
  width: 230px;
  -webkit-transition: all 1s;
  transition: all 1s;
  cursor: pointer;
}

.Wallet .connectToWallet {
  cursor: pointer;
  display: inline-block;
  position: relative;
  -webkit-transition: 1s;
  transition: 1s;
}

.Wallet .connectToWallet {
  cursor: pointer;
  display: inline-block;
  position: relative;
  -webkit-transition: 1s;
  transition: 1s;
}

.Wallet .connectToWallet :after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

.Wallet:hover .connectToWallet {
  padding-right: 2px;
  width: 230px;
}

.Wallet:hover .connectToWalletan:after {
  opacity: 1;
  right: 0;
}

@media (max-width: 1023.98px) {
  .aqairchain-btn {
    padding-left: 30px !important;
    padding-right: 30px !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
  }
}
/*# sourceMappingURL=dashboard.css.map */